<md-card class="container">
  <md-card-title>Google maps semafoare</md-card-title>
  <md-card-subtitle>Semafoare</md-card-subtitle>
  <md-card-content id="wrapper">
    <div id="map"></div>
    <md-card-actions>
      <md-input [(ngModel)]="startPoint" placeholder="Start street" align="end"></md-input>
      <md-input [(ngModel)]="endPoint" placeholder="End street" align="end"></md-input>
      <button md-raised-button color="primary"
              (click)="setDirections(startPoint, endPoint)">Get route</button>
      <div id="controls">
        <textarea name="listaStrazi"
                  id="listaStrazi"
                  cols="50"
                  rows="10"
                  placeholder="Enter street names to determine intersection points"
                  [(ngModel)]="listaStrazi">
        </textarea>
        <button md-raised-button (click)="getIntersectionsList">Get intersections list</button>
        <ul>
          <li *ngFor="let intersection of intersectionLocations; let i = index">
            {{intersection.label}}: {{intersection.lat}} - {{intersection.lng}}
          </li>
        </ul>
      </div>
    </md-card-actions>

  </md-card-content>
</md-card>
