<md-card class="container">
  <md-card-title>Google Maps Lights(Semafoare)</md-card-title>
  <!--<md-card-subtitle>Semafoare</md-card-subtitle>-->
  <md-card-content id="wrapper">
    <md-card-actions>
      <div id="map"></div>
    </md-card-actions>
    <md-card-actions>
      <md-input [(ngModel)]="startPoint" id="fromInput" placeholder="Start street"></md-input>
      <br>
      <md-input [(ngModel)]="endPoint" id="toInput" placeholder="End street"></md-input>
      <br>
      <button md-raised-button
              color="primary"
              (click)="setDirections(startPoint, endPoint)">Get route
      </button>
      <div id="controls">
        <textarea name="listaStrazi"
                  id="listaStrazi"
                  cols="50"
                  rows="10"
                  placeholder="Enter street names to determine intersection points"
                  [(ngModel)]="listaStrazi">
        </textarea>
        <button md-raised-button (click)="getIntersectionsList()">Get intersections list</button>
        <button md-raised-button (click)="toggleMarkers()">Toggle markers</button>

        <md-list>
          <md-list-item *ngFor="let intersection of intersectionLocations; let i = index"> {{intersection.label}}:
            {{intersection.lat}} - {{intersection.lng}}
          </md-list-item>
        </md-list>

      </div>
    </md-card-actions>

  </md-card-content>
</md-card>
